/* Color picker */
.colors {
	width: 30px;
	height: 30px;
	float: left;
	margin-right: 5px;
	border: 1px solid black;
	cursor: pointer;
}

#red {
	background-color: red;
}

#orange {
	background-color: orange;
}

#yellow {
	background-color: yellow;
}

#green {
	background-color: green;
}

#blue {
	background-color: blue;
}

#indigo {
	background-color: #bf9bf5;
}

#violet {
	background-color: #8F00FF;
}

/* texture picker */
.textures {
	width: 60px;
	height: 30px;
	float: left;
	margin-right: 5px;
	border: 1px solid black;
	cursor: pointer;
}

#paper {
	background: url("../images/texture-paper.png");
}

#swirls {
	background: url("../images/texture-swirls.png");
}

#circles {
	background: url("../images/texture-circles.png");
}

#cloth {
	background: url("../images/texture-cloth.png");
}

/* making the text pretty */ 

#message-output {
	padding-top: 150px;
	font-family: "book antiqua", Lucida, serif;
	font-size:32px;
	font-weight:bold;
	text-align: center;
}

#recipient-output {
	padding-top: 20px;
	font-family: "book antiqua", Lucida, serif;
	font-size:32px;
	font-weight:bold;
	text-align: center;
}

#text-error {
	color: red;
}
